<div class='game-wrapper'>
  <h2 class='game-title'>
    <%= @game.lobby.name %>
  </h2>
  <table id='game-board'>
    <% 3.times do %>
      <tr>
        <% 3.times do %>
          <td class='cell'></td>
        <% end %>
      </tr>
    <% end %>
  </tabe>
</div>
