<%= @game.lobby.name %>
<div class='game-wrapper'>
  <table id='game-board'>
    <% 3.times do %>
      <tr>
        <% 3.times do %>
          <td class='cell'></td>
        <% end %>
      </tr>
    <% end %>
  </tabe>
</div>
