/* Reset default browser display settings*/
body, main, footer, header, aside, div, button{
	margin: 0;
}

/* Style for the main content of the page*/
main{
	width: 80%;
	height: 575px;
	/*background: blue;*/
	/*margin-right: 5%;*/
	display: inline-block;
	vertical-align: top;
}

main input{
	height: 3%;
	width: 35% ;
	padding: 3px;
	display: block;
	text-align: center;
}

main input:focus{
	text-align: left;
}

main canvas{
	border: solid 1px steelblue;
	border-bottom: none;
	margin-top: 7px;
	/*background: yellow;*/
}

/* Side-bar */
aside{
	/*background: yellow;*/
	display: inline-block;
	width: 19%;
	height: 692px;
	float: right;
	vertical-align: top;
	margin-left: -4px;
	padding-top: 7px;
}

/* Sidebar display canvas */
aside div {
	/*background:blue;*/
	border: solid 1px steelblue;
	margin-top: 7px;
}

/* Container for bottom of the page */
footer{
	/*background: yellow;*/
	width: 80%;
	/*position: relative;*/
	margin-top: 35px;
	height: 150px;
	display: block;
	border-top: dashed 1px steelblue;
	padding-top: 7px;
	/*background: blue;*/
	z-index: 5;
}

/* Button Holder */
footer span{
	/*background: orange;*/
	top: 0;
	position: relative;
	vertical-align: top;
	display: block;
}

/* Text in Footer */
footer span p{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	margin: 0;
	margin-left: 20%;
}

/* Buttons in footer button-holder */
footer span button{
	display: inline-block;
	vertical-align: top;
}

/* Saved Comic Display Area */
footer canvas{
	margin-top: 7px;
	border: solid 1px steelblue;
	border-top-style: dashed;
}

/* BEGIN CLASS DECLARATIONS */

div.container{
	min-width: 960px;
	max-width: 960px;
	background: lightsteelblue;
	margin: auto;
	padding: 15px;
	margin-top: 50px;
}

/* END CLASS DECLARATIONS*/

/* BEGIN ID DECLARATIONS */

#images {
	height: 50%;
}

#delete-button{
	color: red;
}

/* END ID DECLARATIONS */

/* BEGIN MEDIA QUERIES */